%% -*- mode:erlang -*-
{erl_opts,
 [debug_info]}.

{deps,
 []}.

{shell,
 [ {apps, [optvar]}
 ]}.

{xref_checks,
 [undefined_function_calls, undefined_functions,
  locals_not_used, deprecated_function_calls,
  warnings_as_errors, deprecated_functions
 ]}.

{eunit_opts,
 [ verbose
 , {report, {eunit_surefire, [{dir,"."}]}}
 ]}.

{dialyzer,
 [ {warnings, [unknown]}
 ]}.
